<h1>Edit Your Profile</h1>

<%= form_for(@user) do |f| %>

<%= f.label :email %>
<%= f.text_field :email, class: 'form-control' %>

<%= f.label :password %>
<%= f.email_field :password, class: 'form-control' %>

<%= f.submit "Update", clas: 'btn btn-primary' %>

<% end %>