<h1><%= @user.username %></h1> 
<p>Create a new Gallery:</p>
<div>
  <%= render 'galleries/fields' %>
</div>
<div>
  <h2><%= @user.username %>'s Galleries:</h2>
  <ul>
    <% @user.galleries.each do |gallery| %>
    <li>
      <%= link_to gallery.name, gallery %> - 
      <%= gallery.description %>
    </li>
    <% end %>
  </ul>
</div>
<div>
  <h2><%= @user.username %>'s Liked Images:</h2>
  <ul>
    <% @user.liked_images.each do |liked_image| %>
    <li><%= link_to image_tag(liked_image.url), [liked_image.gallery, liked_image] %></li>
    <% end %>
  </ul>
</div>