<h1><%= @user.email %></h1> 
<p><%= link_to "delete", user_path(@user), method: :delete %></p>
<p><%= link_to "Update user settings", edit_user_path(@user) %></p>
<p>Create a new Gallery:</p>
<div>
  <%= render 'galleries/fields' %>
</div>
<div>
  <ul>
    <% @user.galleries.each do |gallery| %>
    <li>
      <%= link_to gallery.name, gallery %>
    </li>
    <% end %>
  </ul>
</div>