<h1><%= @gallery.name %></h1>
<h3><%= @gallery.description %></h3>
<h2><%= link_to @user.username, @user %></h2>
<p><%= link_to 'Update Gallery seetings', edit_gallery_path(@gallery) %></p>
<div>
  <%= render 'images/fields' %>
</div>
<div>
  <ul>
    <% @gallery.images.all.each do |image| %>
    <li>
      <%= link_to image.title, [@gallery, image] %>
      <%= link_to image_tag(image.url), [@gallery, image] %>
      <%= link_to 'Delete image', [@gallery, image], method: :delete %>
    </li>
    <% end %>
  </ul>
</div>