<h1><%= @gallery.name %></h1>
<h3><%= @gallery.description %></h3>
<h2><%= link_to @user.username, @user %></h2>
<p><%= link_to 'Update Gallery seetings', edit_gallery_path(@gallery) %></p>
<div>
  <%= render 'images/fields' %>
</div>
<h2><%= @user.username %>'s Pictures:</h2>
<div>
  <ul>
    <% @gallery.images.all.each do |image| %>
    <li>
      <%= link_to image.title, [@gallery, image] %>
      <%= link_to image_tag(image.url), [@gallery, image] %>
      <%= link_to 'Delete image', [@gallery, image], method: :delete %>
    </li>
    <h3>Tags:</h3>
    <ul>
      <% image.tags.each do |tag| %>
      <li>
        <%= link_to tag.text, tag %>
      </li>
      <% end %>
    </ul>
    <% end %>
  </ul>
</div>