  <%= form_for([@gallery, @image]) do |f| %>
  
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  
    <%= f.label :url %>
    <%= f.text_field :url, class: 'form-control' %>
    
    <h2>Tags:</h2>
    <%= f.collection_check_boxes :tag_ids, @tags, :id, :text %>
    
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  <% end %>