<h1>All Images</h1>
<p>Return to <%= link_to 'Galleries Index', root_url %></p>
<div>
  <ul>
    <% @images.each do |image| %>
    <li>
      <%= link_to image_tag(image.url), [image.gallery, image] %> Go to this photos <%= link_to 'Gallery', image.gallery %>
    </li>
    <% if image.comments.any? %>
      <h3><%= link_to pluralize(image.comments.count, "Comment"), [image.gallery, image] %></h3>
    <% end %>
    
    <% if image.liking_users.any? %>
      <h3><%= link_to pluralize(image.liking_users.count, "Like"), [image.gallery, image] %></h3>
    <% end %>
    
    <% if image.tags.any? %>
    <h3>Tags:</h3>
    <ul>
      <% image.tags.each do |tag| %>
      <li>
        <%= link_to tag.text, tag %>
      </li>
      <% end %>
    </ul>
    <% end %>
    <% end %>
  </ul>
</div>