<h1><%= @image.title %></h1>
<h3><%= link_to "Return to Gallery", @gallery %></h3>
<div>
  <%= image_tag @image.url %> <%= link_to "Edit photo", edit_gallery_image_path(@gallery, @image) %>
</div>
<h3>Tags:</h3>
<ul>
  <% @image.tags.each do |tag| %>
  <li>
    <%= link_to tag.text, tag %>
  </li>
  <% end %>
</ul>
<div>
  <%= render 'comments/form' %>
</div>
<% if @image.comments.any? %>
<div>
  <h3>Comments:</h3>
  <ul>
    <% @comments.each do |comment| %>
    <li>
      <%= link_to comment.user.username, comment.user %>: "
      <%= comment.text %>" 
      <p>Posted <%= time_ago_in_words(comment.created_at) %> ago. <%= link_to "delete", comment, method: :delete %></p>
    </li>
    <% end %>
  </ul>
</div>
<% end %>